html,body{
    height:95%; 
}


#header{
    background-color: #0e563b;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color:white;
    padding: 2%;
    background: #0e563b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#73AC97, #003924);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #73AC97, #003924); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#mainContainer{
    position: relative;
    border: none;
    margin:2vw 10vw 2vw;
    box-shadow: 0 0 2em 0.2em gray;
    height: 100%;
}


#loginBtn{
    height: 10%;
    display: block;
    position: absolute;
    overflow: auto;
    margin:auto;
    cursor: pointer;
    width:20%;
    font-weight: bold;
    padding: 0;
    border-radius: 5%;
    font-family: 'Amatic SC', cursive;
    font-size: 1.7em;
    background-color: #0e563b;
    color: white;
    top: 0; left: 0; bottom: 0; right: 0;
}

#welcomeMsg{
    position: absolute;
    font-size:3em;
    display: none;
    margin: auto;
    overflow: auto;
    font-family: 'Rancho',cursive;
    color: #0e563b;
    width: 50%;
    height: 15%;
    text-align:center;
    top: 0; left: 0; bottom: 0; right: 0;
}

#loginBtn:hover{
    box-shadow: 0 0 2em 0.1em gray;
}

#modalHeader {
    display: block;
    margin-left: auto;
    margin-right:auto; 
    margin-bottom: 7%;
    width:100%;
    color:  #003924;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

.login-modal{
    position: relative;
    height: 100%;
}

::placeholder{
    font-family: cursive;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}



#modalContent {   
    background-color: #fefefe;
    border-radius:5%; 
    padding: 1%;
    border: 1px solid #888;
    width: 20%;
    height: 25%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
   
}

.input-element{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:3%;
}

#signinBtn{
    display: block;
    margin-top:4%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    cursor: pointer;
    padding: 2%;
    border-radius: 5%;
    width:35%;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    background-color: #0e563b;
    color: white;
}

p{
    display: none;
    margin-left: auto;
    margin-right: auto;
    color:red;
    margin-top:7%;
    margin-bottom: 20%;
    height:10%;
    text-align: center;
}

@media(max-width:1200px){
    #modalContent{
        height: 25%;
        width:25%;
    }

    #welcomeMsg{
        width:100%;
        font-size: 3em;
    }

}

@media(max-width:1024px){

    #modalContent{
        height:30%;
        width:50%;
    }

    #welcomeMsg{
        width:100%;
        font-size: 2.7em;
    }
  
    #modalHeader{
        font-size:3em;
    }

    .input-element{
        width:50%;
    }

    #loginBtn{
        width: 35%;
        height: 10%;
        font-size: 2em;
    }

    #signinBtn{
        width:50%;
        font-size: 2em;
    }

   
}

@media (max-width:768px) {

    #modalContent{
        width:40%;
        height:23%;
    }

    #modalHeader{
        font-size:1.8em;
    }

    #welcomeMsg{
        width:100%;
        font-size: 2.5em;
    }

    .input-element{
        width:70%;
    }

    #loginBtn{
        width: 40%;
        height: 15%;
        font-size:2em;
    }

    #signinBtn{
        width:50%;
    }
   
}

@media (max-width:556px) {

    #modalContent{
        width:50%;
        height:35%;
    }

    #modalHeader{
        font-size:1.7em;
    }

    #welcomeMsg{
        width:100%;
        font-size: 2.5em;
    }

    .input-element{
        width:70%;
    }

    #loginBtn{
        width: 55%;
        height: 15%;
        font-size:1.5em;
    }

    #signinBtn{
        width:50%;
        font-size:1.3em;
    }
   
}

@media(max-width:320px){
    #modalContent{
        width:50%;
        height:35%;
      
    }

    #modalHeader{
        font-size:1.2em;
    }

    #signinBtn{
        font-size:1.3em;
    }
    #welcomeMsg{
        width:70%;
        height:19%;
        font-size: 1.3em;
    }
    #loginBtn{
        height: 13%;
        width: 70%;
        font-size:1.5em;
    }


}