html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 100%;
  margin: 0;
  height: auto;
  min-height: 100%;
  margin-bottom: 50px;
}

#mainContainer {
  padding: 2% 5%;
}

header {
  position: relative;
  background-color: #00001a;
  width: 100%;
  padding-bottom: 3%;
}

.icon {
  position: absolute;
  top: 0.6vw;
  left: 1vw;
  width: 2em;
  height: 2em;
}

nav {
  display: inline;
  position: absolute;
  right: 0;
 
}

.menu-items {
  display: inline-block;
  color: white;
  height: 50px;
  line-height: 20px;
  padding:20px 10px 0px 10px;
  text-decoration: none;
  font-variant: small-caps;
  
}

.menu-items:hover {
  color: #00001a;
  background-color: white;
}
aside table tr:first-child {
  background-color: #bbbbbb;
}
aside table tr:nth-child(even) {
  background-color: #efefef;
}

#mainHeading {
  display: inline;
  color: white;
  font-variant: small-caps;
  position: absolute;
  top: 0.1vw;
  left: 3.5vw;
}

.modal-header {
  color: white;
  padding: 10px;
  background-color: black;
}

#submittedDetails {
  float: right;
  display: none;
  max-width: 40%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-right: 12%;
}

#regForm {
  padding-bottom: 3em;
}

#profilePic {
  width: 20%;
  height: 20%;
}

.input-element {
  display: block;
  margin-top: 10px;
}

.inline-input {
  display: inline;
}

.subsection {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.subheading {
  display: inline-block;
  background-color: #bbbbbb;
  font-weight: 700;
  padding: 1%;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#regForm textarea {
    resize: none;
}

footer {
  background-color: black;
  color: white;
  padding: 1%;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  margin: 0;
}

.close {
  color: white;
  line-height: 19px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

table {
  margin-top: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
