/* base syles */
html,
body {
  cursor: default;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--base-font);
  letter-spacing: 1px;
  z-index: 0;
}

#mainContainer {
  width: 100%;
  height: 100%;
}

/* header styles */
header {
  z-index: 1;
  position: relative;
  font-family: var(--menu-font);
  height: auto;
}

#logoSection {
  border-bottom: 1px solid #eeeeee;
  padding: 15px;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 17%;
  height: 10%;
}

/* social media icons style */
#socialMediaIcons ul {
  width: 20%;
  padding: 0;
  position: absolute;
  color: var(--light-grey);
  top: 15%;
  left: 18%;
}

#socialMediaIcons ul li {
  display: inline;
  margin-right: 4%;
  transition: color 0.5s ease-in-out;
}

#socialMediaIcons ul li i,
footer ul li i {
  transition: color 0.5s ease-in-out;
}

#socialMediaIcons ul li:last-child,
#searchSection span {
  font-size: var(--small-font);
  font-weight: var(--bold);
}

#socialMediaIcons ul li:hover {
  cursor: pointer;
}

#socialMediaIcons ul li:last-child:hover {
  color: var(--dark-color);
}

.fa-facebook:hover {
  color: var(--fb-color);
}

.fa-twitter:hover {
  color: var(--twitter-color);
}

.fa-instagram:hover {
  color: var(--insta-color);
}

/* saerch bar styles */
#searchSection {
  color: var(--dark-color);
  font-weight: var(--bold);
  opacity: 0.5;
  display: inline;
  position: absolute;
  top: 23%;
  right: 18%;
  transition: opacity 0.5s ease-in-out;
}

#searchSection img {
  vertical-align: text-bottom;
}

#searchSection:hover {
  cursor: pointer;
  opacity: 1;
}

#searchSection.stick {
  z-index: 2;
  position: fixed;
  top: 1%;
  right: 0;
  margin-right: 2%;
  animation: fade-in 0.5s;
}

#logoSection.stick {
  z-index: 2;
  position: fixed;
  border: none;
  transform: scale(1.5);
  top: 0;
  left: -10%;
  animation: fade-in 0.5s;
}
/* horizontal nav styles */
nav {
  position: sticky;
  top: 0;
  padding: 15px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(100, 100, 100, 0.1);
}

nav ul {
  margin: 0;
  list-style-type: none;
}

nav li {
  position: relative;
  display: inline;
  font-size: var(--medium-font);
  font-weight: var(--bold);
}

nav li:nth-child(2) {
  margin: 0% 7% 0%;
}

nav li:hover {
  cursor: pointer;
}

nav li:hover .dropdown {
  display: block;
  animation: slideDown 0.25s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* nav hover dropdown styles */

.dropdown {
  display: none;
  font-size: 0.9em;
  box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.3);
  font-weight: var(--bold);
  background-color: white;
  position: absolute;
  text-align: left;
  z-index: 2;
}

.dropdown p {
  position: relative;
  display: block;
  padding: 4px 10px;
}

.dropdown:hover {
  display: block;
}
.dropdown p::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 5px;
  width: 0px;
  height: 3px;
  background-color: var(--accent-color);
  transition: width 0.5s ease-in-out;
}

.dropdown p:hover{
  color: var(--accent-color);
}

.dropdown p:hover::after {
  width: 40px;
}

nav li:nth-child(1) .dropdown {
  top: 16px;
  right: -90px;
  width: 140px;
}

nav li:nth-child(2) .dropdown {
  top: 16px;
  right: -50px;
  width: 140px;
}

nav li:nth-child(3) .dropdown {
  top: 16px;
  right: -50px;
  width: 140px;
}

/* footer styles */
footer {
  font-family: var(--menu-font);
  text-align: center;
  color: var(--light-grey);
  padding: 1%;
  background-color: var(--footer-color);
}

footer ul {
  padding: 0;
}

footer ul li {
  display: inline;
  margin-right: 7%;
}

footer ul li img {
  vertical-align: middle;
}

footer .small {
  font-size: var(--small-font);
  font-weight: var(--bold);
}

footer ul li:first-child {
  opacity: 0.5;
  font-family: var(--main-font);
}

footer ul li:nth-child(7),
footer ul li:nth-child(8),
footer ul li:nth-child(9) {
  margin-right: 2%;
  opacity: 0.5;
}

footer ul li:hover {
  cursor: pointer;
  color: white;
  opacity: 1;
}

@keyframes slideDown {
  from {
    transform: translateY(-10%);
    opacity: 0.25;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
