/* parallax conatainer styles */

#parallaxContainer {
  background-image: url(https://www.thefoodlens.com/uploads/2018/08/DRINK_THE-FOOD-LENS_JUNE-2016_BRIAN-SAMUELS-PHOTOGRAPHY-HOMEPAGE.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85%;
  width: 100%;
  position: relative;
  color: white;
  text-align: center;
}

#parallaxContainer::before,
#scenerySection::before {
  content: "";
  background-color: var(--dark-color);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#parallaxContainer p:first-child {
  width: 60%;
  letter-spacing: 2px;
  font-family: var(--main-font);
  font-size: var(--large-font);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: var(--super-bold);
}

#parallaxContainer p:nth-child(2) {
  font-family: var(--menu-font);
  font-size: var(--medium-font);
  font-weight: var(--bold);
  position: absolute;
  top: 93%;
  left: 47.5%;
  opacity: 0.8;
}

#parallaxContainer img {
  font-family: var(--menu-font);
  height: 10px;
  font-weight: var(--bold);
  position: absolute;
  top: 97%;
  left: 49.5%;
  opacity: 0.8;
}

#parallaxContainer p:nth-child(2):hover{
  cursor: pointer;
  opacity: 1;
}

#parallaxContainer p:nth-child(2):hover + img {
  cursor: pointer;
  opacity: 1;
  transform: translateY(5px);
}

/* subsection styles */

.subsection {
  position: relative;
  margin: 3% 17%;
  font-family: var(--main-font);
}

.subsection h1 {
  vertical-align: middle;
  font-size: var(--large-font);
  display: inline;
  text-align: left;
  position: relative;
  transition: color 0.5s ease-in-out;
}

.subsection h1::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: -15px;
  width: 80px;
  height: 3px;
  bottom: -10px;
  background: var(--accent-color);
}

.subsection ul {
  display: inline;
}

.subsection ul li {
  font-size: 0.9em;
  display: inline;
  font-weight: var(--bold);
  padding: 7px;
  transition: color 0.5s ease-in-out;
}

.subsection ul li:hover,
.subsection h1:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.subsection ul > li:not(:last-child)::after {
  content: " · ";
  padding-left: 10px;
}

/* subsection grids styling */

.three-column-grid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 30%;
  grid-column-gap: 2%;
}

.four-column-grid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 30%;
  grid-column-gap: 2%;
  margin-bottom: 5%;
}

.image-wrapper {
  /* height:167px; */
  margin-bottom: 3%;
  /* border:1px solid black; */
  /* box-shadow: 0 10px 14px -5px rgba(172, 179, 183, 0.8); */
  overflow: hidden;
}

.grid-image {
  width: 100%;
  box-shadow: 0 10px 14px -5px rgba(172, 179, 183, 0.8);
  transition: transform 2s ease-in-out;
}

.grid-image:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.subheading {
  position: relative;
  margin: 2% 0%;
  font-family: var(--main-font);
  transition: color 0.5s;
}

.caption {
  font-family: var(--menu-font);
  color: var(--accent-color);
  font-size: var(--small-font);
  font-weight: var(--super-bold);
}

.description {
  position: relative;
  letter-spacing: 0px;
  font-family: var(--base-font);
  font-size: 1em;
}

.description::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -15px;
  width: 0px;
  height: 3px;
  background-color: var(--accent-color);
  transition: width 1s ease-in-out;
}

.grid-cell:hover .description::after {
  cursor: pointer;
  width: 200px;
}

.four-column-grid .subheading::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -15px;
  width: 0px;
  height: 3px;
  background-color: var(--accent-color);
  transition: width 2s ease-in-out;
}

.four-column-grid .grid-cell:hover .subheading::after {
  cursor: pointer;
  width: 200px;
}

.grid-cell:hover .subheading {
  cursor: pointer;
  color: var(--accent-color);
}

.card {
  position: relative;
  padding: 6% 10% 6% 7%;
  margin: 0 auto;
  background-color: var(--card-color);
  width: 55%;
}

.card:hover .description::after {
  cursor: pointer;
  width: 200px;
}

.card:hover .subheading {
  cursor: pointer;
  color: var(--accent-color);
}

.card img {
  position: absolute;
  top: 14%;
  right: 10%;
  box-shadow: 0 10px 14px -5px rgba(172, 179, 183, 0.8);
  width: 30%;
}

/* pre footer styles */

#scenerySection {
  width: 100%;
  background: url(https://www.thefoodlens.com/uploads/2018/05/LIGHTHOUSE_NANTUCKET_THE-FOOD-LENS_BRIAN-SAMUELS-PHOTOGRAPHY_MAY-2018-0036-2048x842.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
}

#sceneryContainer {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scenerySection::before {
  opacity: 0.35;
}

#scenerySection h1 {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 2.3em;
}

#scenerySection p {
  letter-spacing: 0px;
  font-size: 1.2em;
}

#scenerySection button {
  font-family: var(--menu-font);
  font-weight: var(--bold);
  padding: 10px 0px;
  width: 13%;
  color: white;
  margin: 10px;
  background: transparent;
  border: 1px solid white;
  transition: background-color 0.5s;
}

#scenerySection button:hover{
  border:none;
  cursor: pointer;
  background-color: var(--accent-color);
}