:root {
  --base-font: "Cardo", serif;
  --menu-font: "Amiko", sans-serif;
  --main-font: "Libre Baskerville", sans-serif;
  --light-grey: #cccccc;
  --card-color: #fafafa;
  --dark-color: #232020;
  --small-font: 0.625em;
  --medium-font: 0.71em;
  --large-font: 2.5em;
  --bold: 600;
  --super-bold: 700;
  --fb-color: #3b5998;
  --twitter-color: #08a0e9;
  --insta-color: #dd2a7b;
  --accent-color: #f9964f;
  --footer-color: #242421;
}
