nav {
  position: absolute;
  right: 0;
  top:0;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #555555;
  margin-right: 15px;
  font-size: 0.8em;
  font-family: Arial, sans-serif;
}

nav a:hover {
  text-decoration: underline;
}
nav span:nth-child(3) img {
  position: relative;
  top: 11px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

nav span:nth-child(4) img {
  position: relative;
  top: 9px;
  widows: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

nav span:last-child img {
  position: relative;
  top: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

#centerContent {
  margin-top: 80px;
  width: 690px;
  margin-left: auto;
  margin-right: auto;
  height: 395px;
  padding-bottom: 200px;
}

#googleLogo {
    width:520px;
    height:200px;
    margin-left: 60px;
}

#searchBarContainer{
    position:relative;
    padding:0;
    margin:0;
}

div input{
    width:645px;
    margin-top: 20px;
    padding: 12px 0px 12px 0px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: 0 8px 6px -6px #e0dfdf;
    padding-left:30px;
}

#mike{
    position:absolute;
    bottom:5px;
    left:635px;
    width:30px;
    height:30px;
    cursor: pointer;
}

div input:hover
{
  box-shadow: 0 0 5px 2px #e0dfdf;
}

div input:focus
{
    outline: none;
}

::placeholder
{
    color:#bbbbbb;
    font-size: 1.1em;
    font-family: Arial, sans-serif;
}

#recentlyVisited{
    margin-top: 50px;
    width: 100%;
<<<<<<< HEAD
    box-sizing: border-box;
=======
    box-sizing: border-box
>>>>>>> master
}

#recentlyVisited img{
    width:157px;
    height: 118px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: 0 8px 6px -6px #e0dfdf;
    
}

#recentlyVisited img:hover{
  box-shadow: 0 0 5px 2px #e0dfdf;
}

#recentlyVisited img[src="images/blank.PNG"]
{
  box-shadow: none;
  cursor: default;
}

.tooltiptext {
  visibility: hidden;
  background-color: black;
  width: 80px;
  color: #fff;
  padding: 5px 4px 5px;
  text-align: center;
  position: absolute;
  z-index: 1;
  font-size: 0.6em;
  font-family: Arial, sans-serif;
  font-weight: bold;
  top: 70px;
  left: 666px;
  margin-left: -60px;
  transition: all 0.2s ease-in-out;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.nav-dropdown{
  visibility: hidden;
  width: 80px;
  height :300px;
  text-align: center;
  position: absolute;
  z-index: 1;
  font-size: 0.6em;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-left: -60px;
  background-color:white;
  color: black;
  padding: 10px;
  box-shadow: 0 0 5px 2px #e0dfdf;

}

.nav-dropdown::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #e0dfdf;
}

#appsMenu
{  
  top: 50px;
  left: 125px;
}


#notifMenu
{
  top: 50px;
  left: 170px;
}


#accMenu
{
  top: 50px;
  left: 200px;
}

#accMenu::after{
  left: 70%;
}

@media (max-width:768px) and (min-width:320px){
  #centerContent{
    margin-top:6%;

  }
  #recentlyVisited{
    width:80%;
    margin-left: 12%
  }


  div input{
    width: 70%;
    margin-left: 11%;
  }

  #mike{
    left:80%;
  }

  #googleLogo{
    margin-left: 11%;
  }
  nav{
    display:none;
  }

}

@media (max-width:1024px) and (min-width:768px){

  #centerContent{
    margin-top:6%;

  }
  #recentlyVisited{
    width:80%;
    margin-left: 12%
  }


  div input{
    width: 70%;
    margin-left: 11%;
  }

  #mike{
    left:80%;
  }

  #googleLogo{
    margin-left: 11%;
  }
}
