/* html body styles */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(../assets/bg.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* header styles */
header {
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 20px;
}

header img {
  display: inline-block;
  vertical-align: text-bottom;
  width: 34px;
  height: 34px;
  margin-right: 15px;
}

header h1 {
  display: inline;
  font-size: 2em;
  font-family: "Amatic SC", sans-serif;
  letter-spacing: 3px;
}

/* navigation styles */
nav {
  position: absolute;
  top: 35%;
  right: 50px;
}

ul,
nav li {
  display: inline;
}

nav .icon {
  display: none;
}

nav ul a {
  font-size: 1.1em;
  text-decoration: none;
  color: black;
  font-family: "Roboto condensed", sans-serif;
  margin-right: 3%;
}

nav ul a:hover {
  color: #4dacf0;
  cursor: pointer;
}

/* main body wrapper styles */
#mainContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

/* content wrapper styles */
#bodyContent {
  position: relative;
  padding: 20px;
}

.subsection {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-family: "Roboto condensed", sans-serif;
  font-size: 2.5em;
}

/* intro section styles */
#intro {
  top: 10vh;
}

#intro img {
  margin: 0;
  transition: margin 1s ease-in-out;
}

#intro img:hover {
  transform: scale(1.15, 1.15);
  animation: jiggle 0.3s infinite linear;
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg) scale(1.05, 1.05);
  }
  50% {
    transform: rotate(2deg) scale(1.05, 1.05);
  }
  100% {
    transform: rotate(-2deg) scale(1.05, 1.05);
  }
}

#intro img[src="assets/html-logo.png"] {
  width: 25%;
  height: 25%;
}

#intro img[src="assets/css-logo.png"] {
  width: 24%;
  height: 24%;
}

#intro img[src="assets/js-logo.png"] {
  width: 23.5%;
  height: 23.5%;
}

/* section wrapper styles */

.subsection h2 {
  cursor: default;
  color: #4dacf0;
  font-family: "Amatic SC", sans-serif;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 1.5em;
}

.subsection ul {
  list-style-type: none;
}

#htmlSection {
  top: 20vh;
}

#cssSection {
  top: 30vh;
}

#jsBasicSection {
  top: 40vh;
}

#jsAdvancedSection {
  top: 50vh;
}

/* footer styles */

footer {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: 60vh;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  font-family: "Roboto-condensed", sans-serif;
}

footer a {
  float: right;
  color: black;
}

/* media queries */

@media screen and (max-width: 1024px) {
  header {
    padding: 20px 5px;
  }

  header.responsive {
    background: rgba(0, 0, 0, 0.9);
    color: white;
  }

  header img {
    margin-left: 10px;
  }

  nav a {
    display: none;
  }

  nav a.icon {
    display: block;
    color: black;
    position: fixed;
    top: 3%;
    right: 3%;
  }

  nav.responsive {
    position: relative;
  }
  nav.responsive .icon {
    color: #4dacf0;
  }
  nav.responsive a {
    color: white;
    float: none;
    display: block;
    text-align: left;
    margin-left: 70px;
  }
}

@media screen and (max-width: 768px) {
  header h1,
  .subsection {
    font-size: 1.8em;
  }

  footer {
    text-align: center;
  }

  footer a {
    display: block;
    float: none;
  }
} 

@media screen and (max-width: 420px) {
  header {
    padding: 5px;
  }

  header h1 {
    font-size: 1.4em;
    letter-spacing: 1px;
    vertical-align: middle;
  }

  .subsection {
    font-size: 1em;
  }

  nav a.icon{
    top:2%;
  }

  header img {
    transform: scale(0.6);
    margin-left: 1px;
    margin-right: 1px;
    vertical-align: middle;
  }

  footer {
    text-align: center;
  }

  footer a {
    display: block;
    float: none;
  }
}
